.queue_container{
    padding-left: 30px;
   overflow: scroll;
   overflow-y: scroll;
}
.queue_container h3{
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.queue_box{
    margin-bottom: 15px;
    background-color: rgb(224, 224, 224);
}
.queue{
    display: flex;
    align-items: center;
    gap: 10px;
}
.queue li{
    width: 25%;
}
.queue li:first-child{
    width: 10px;
    margin-left: 0px;
    margin-right: 15px;
}